@model BuildSpecTool.Models.Component

@using (Html.BeginForm("Save", "Component"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EventId)
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.InvitationUpload, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.InvitationUpload)
                        @Html.ValidationMessageFor(model => model.InvitationUpload, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.DynamicAgenda, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.DynamicAgenda)
                        @Html.ValidationMessageFor(model => model.DynamicAgenda, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.RSVPCodes, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.RSVPCodes)
                        @Html.ValidationMessageFor(model => model.RSVPCodes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Session)
                        @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.HasHotel, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.HasHotel)
                        @Html.ValidationMessageFor(model => model.HasHotel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ApprovalTool, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ApprovalTool)
                        @Html.ValidationMessageFor(model => model.ApprovalTool, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.OnsiteTool, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.OnsiteTool)
                        @Html.ValidationMessageFor(model => model.OnsiteTool, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.OverallEvals, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.OverallEvals)
                        @Html.ValidationMessageFor(model => model.OverallEvals, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.SessionEvals, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.SessionEvals)
                        @Html.ValidationMessageFor(model => model.SessionEvals, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Search_Engine, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Search_Engine)
                        @Html.ValidationMessageFor(model => model.Search_Engine, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.SpeakerInformation, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.SpeakerInformation)
                        @Html.ValidationMessageFor(model => model.SpeakerInformation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AgendaFilter, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AgendaFilter)
                        @Html.ValidationMessageFor(model => model.AgendaFilter, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AgendaSessionsSignup, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AgendaSessionsSignup)
                        @Html.ValidationMessageFor(model => model.AgendaSessionsSignup, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Progress_bar, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Progress_bar)
                        @Html.ValidationMessageFor(model => model.Progress_bar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row pull-right form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                onText: "Yes",
                onColor: 'success',
                offColor: 'default',
                offText: "No",
                animate: true,
            };
            $("input[class='check-box']").bootstrapSwitch(options);
        });

    </script>
}