
@model BuildSpecTool.ViewModels.ManagementViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.Partial("_MenuPartial")

    <div class="col-sm-9 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dashboard</h3>
            </div>
            <div class="panel-body" id="mainSection">
                 <div class="menu" id="componentView">
                     @Html.Partial("_Components", Model.Component)
                 </div>
                <div class="menu" id="attendeeTypeView" style="display:none;">
                    @Html.Partial("_AttendeeType", Model.EventAttendeeType)
                </div>
                <div class="menu" id="statusView" style="display:none;">
                    @Html.Partial("_Status", Model.EventStatus)
                </div>
                <div class="menu" id="mailView" style="display:none;">
                    @Html.Partial("_EventMail", Model.EventMail)
                </div>
                <div class="menu" id="regPageView" style="display:none;">
                    @Html.Partial("_EventPage", Model.EventPage)
                </div>
                <div class="menu" id="regFlowView" style="display:none;">
                    @Html.Partial("_RegistrationFlow")
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                onText: "Yes",
                onColor: 'success',
                offColor: 'default',
                offText: "No",
                animate: true,
            };
            $("input[class='check-box']").bootstrapSwitch(options);


            var navListItems = $('ul.setup-panel li a'),
                allWells = $('.setup-content');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this).closest('li');

                if (!$item.hasClass('disabled')) {
                    navListItems.closest('li').removeClass('active');
                    $item.addClass('active');
                    allWells.hide();
                    $target.show();
                }
            });

            $('ul.setup-panel li.active a').trigger('click');

            // DEMO ONLY //
            $('#activate-step-2').on('click', function (e) {
                $('ul.setup-panel li:eq(1)').removeClass('disabled');
                $('ul.setup-panel li a[href="#step-2"]').trigger('click');
                $(this).remove();
            })


            $('.list-group-item').on('click', function () {
                console.log(this.innerText);
                switch (this.innerText) {
                    case "Components":
                        $(".menu").hide();
                        $("#componentView").show();
                        break;
                    case "Attendee Types":
                        $(".menu").hide();
                        $("#attendeeTypeView").show();
                        break;
                    case "Status":
                        $(".menu").hide();
                        $("#statusView").show();
                        break;
                    case "Mails":
                        $(".menu").hide();
                        $("#mailView").show();
                        break;
                    case "Registration Pages":
                        $(".menu").hide();
                        $("#regPageView").show();
                        break;
                    case "Registration Flow":
                        $(".menu").hide();
                        $("#regPageView").show();
                    default:
                        $(".menu").hide();
                        $("#regFlowView").show();
                        break;
                }
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
            });
        });

    </script>
}
