@model List<BuildSpecTool.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    if (Model.Any())
    {
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Microsoft Event</th>
                    <th>URL</th>
                    <th>Alias</th>
                    <th>Registration Lead</th>
                    <th>Technical Lead</th>
                    <th>EventDate</th>
                    <th>Live Date</th>
                    <th>Build Due</th>
                    <th>Client Review Due</th>
                    <th></th>
                    <th>Team</th>
                    <th>Client</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eve in Model)
                {

                    <tr>
                        <td>@Html.ActionLink(eve.Name, "Edit", "Event" , new { id = eve.Id},null)</td>
                        <td>@(eve.IsMicrosoftEvent? (eve.IsMicrosoftInternal ? "Internal" : "External") : "No")</td>
                        <td>@eve.URL</td>
                        <td>@eve.Alias</td>
                        <td>@eve.Registration_Lead</td>
                        <td>@eve.Technical_Lead</td>
                        <td>@eve.Actual_EventDate</td>
                        <td>@eve.Live_EventDate</td>
                        <td>@eve.BuildDueDate</td>
                        <td>@eve.ClientReviewDueDate</td>
                        <td>@eve.ClientEditDueDate</td>
                        <td>@eve.Team.Name</td>
                        <td>@eve.Client.Name</td>
                    </tr>
                }
            </tbody>
        </table>
  
    }
}
