@model List<BuildSpecTool.Models.Event>

@{
    ViewBag.Title = "Home Page";
}


@Html.Partial("_AbstractPartial")

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">   

        @Html.Partial("_SearchbarPartial")

        <div class="list-group">
            @foreach (var item in Model)
                {
                @Html.ActionLink(@item.Name, "Edit", "Event", new { id = item.Id }, new { @class = "list-group-item list-group-item-action disabled" })
                }
        </div>

    </div>

    @Html.Partial("_FavoritePartial")
</div>